{{/*
  get-gallery.html: Build gallery data structure for album cards

  Orchestrates data extraction for gallery display. Delegating specific
  concerns to focused partials:
  - get-cover-image.html: Find featured image
  - count-images.html: Count images and albums

  Returns a dict with gallery metadata:
  - page: The page context
  - images: Array of image objects from front matter
  - thumbnail: Featured image object (cover or featured_image or first)
  - color: Hex color for card background
  - imageCount: Number of visible images
  - albumCount: Number of sub-albums
*/}}
{{ $gallery := "" }}
{{ $images := .Params.images | default slice }}

{{ if gt (len $images) 0 }}
  {{/* Extract featured image with priority: cover -> featured_image -> first */}}
  {{ $featured := partial "get-cover-image.html" . }}

  {{/* Get color from featured image or default to transparent */}}
  {{ $color := $featured.color | default "transparent" }}

  {{/* Count visible images and albums */}}
  {{ $counts := partial "count-images.html" . }}

  {{/* Build final gallery dict */}}
  {{ $gallery = dict
    "page" $
    "images" $images
    "thumbnail" $featured
    "color" $color
    "albumCount" $counts.albumCount
    "imageCount" $counts.imageCount
  }}
{{ end }}

{{ return $gallery }}
