{{ $gallery := "" }}
{{ $images := .Params.images | default slice }}
{{ if gt (len $images) 0 }}
  {{/* Find cover image from front matter */}}
  {{ $cover := "" }}
  {{ range $images }}
    {{ if .params.cover }}
      {{ $cover = . }}
    {{ end }}
  {{ end }}

  {{/* Find featured image by src if specified */}}
  {{ $featured := $cover }}
  {{ if and (not $featured) .Params.featured_image }}
    {{ range $images }}
      {{ if eq .src $.Params.featured_image }}
        {{ $featured = . }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{/* Default to first image if no featured/cover found */}}
  {{ $featured = $featured | default (index $images 0) }}

  {{/* Use color from front matter or default */}}
  {{ $color := $featured.color | default "transparent" }}

  {{ $imageCount := 0 }}
  {{ $albumCount := 0 }}
  {{ if .IsPage }}
    {{/* Count images from front matter, excluding hidden ones */}}
    {{ range $images }}
      {{ if ne .params.hidden true }}
        {{ $imageCount = add $imageCount 1 }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ range where .RegularPagesRecursive "Params.private" "ne" true }}
      {{ $albumCount = add $albumCount 1 }}
      {{ $pageImages := .Params.images | default slice }}
      {{ range $pageImages }}
        {{ if ne .params.hidden true }}
          {{ $imageCount = add $imageCount 1 }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $gallery = dict
    "page" $
    "images" $images
    "thumbnail" $featured
    "color" $color
    "albumCount" $albumCount
    "imageCount" $imageCount
  }}
{{ end }}
{{ return $gallery }}
