<header>
  {{ with .Site }}
    <hgroup>
      <h1 class="licorice-regular">{{ .Title }}</h1>
      {{ with .Params.Description }}
        <p>{{ . | markdownify }}</p>
      {{ end }}
    </hgroup>
  {{ end }}
</header>

<menu class="horizontal-menu" id="menu">
  {{ $currentEventsLink := "" }}
  {{ if .Parent }}
  {{ $currentEventsLink = .Parent.RelPermalink }}
  {{ end }}
  {{ if not $currentEventsLink }}
    {{ with site.GetPage "/" }}
      {{ $currentEventsLink = .RelPermalink }}
    {{ end }}
  {{ end }}
  <li itemscope itemtype="http://www.schema.org/SiteNavigationElement">
    <a
    aria-current="{{ if eq page.RelPermalink $currentEventsLink }}true{{ else }}false{{ end }}"
    href="{{ $currentEventsLink }}" itemprop="url">
      <span itemprop="name">News</span>
    </a>
  </li>
  {{ with site.Menus.main }}
    {{ range . }}
      <li itemscope itemtype="http://www.schema.org/SiteNavigationElement">
        <a aria-current="{{ or (page.IsMenuCurrent .Menu .) (page.HasMenuCurrent .Menu .) }}" href="{{ .URL }}" itemprop="url">
          <span itemprop="name">{{ .Name }}</span>
        </a>
      </li>
    {{ end }}
  {{ end }}
</menu>