<div class="photographer-info">
    <div class="photographer-images">
      <img src="/images/peter.jpg" alt="Peter" />
      <img src="/images/anna.jpg" alt="Anna" />
    </div>
    <h2>Hi!</h2>
    <p>We are two photographers based in NRW, Germany.</p>
    <p>You can find more photos in our channels on Telegram:
      <a href="https://t.me/fotkaholic">fotkaholic</a>, and
      <a href="https://t.me/petertr_foto">fotopötor</a>.
    </p>
</div>
<div class="notification">
  <p>If you saw a picture of yourself on our website, and want it removed,</p>
  <p>then contact us, and we will remove it.</p>
  <p>See <a href="/contact">the contacts tab</a>.</p>
</div>